<script>
export default {
  name: 'GitterLogoTextSvg',
};
</script>

<template>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="200"
    height="150"
    viewBox="0 0 200 150"
    enable-background="new 0 0 200 150"
    xml:space="preserve"
  >
    <image
      id="image0"
      width="200"
      height="150"
      x="0"
      y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAACWCAQAAABamBbuAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
cwAADsQAAA7EAZUrDhsAAAAHdElNRQflARgBOBFefYBvAAAFvUlEQVR42u3d7ZabOgyF4aGr93/L
7o+edTqT4G3JSLYg79M/nSQ4RmbzFUKO9gWg59fuDgCVERBAICCAQEAAgYAAAgEBBAICCAQEEAgI
IBAQQCAggEBAAIGAAAIBAQQCAggEBBAICCAQEEAgIIBAQACBgAACAQEEAgIIBAQQCAggEBBAICCA
QEAAgYAAAgEBBAICCAQEEAgIIBAQQCAggEBAAIGAAAIBAQQCAggEBBAICCAQEEAgIIBAQACBgAAC
AQEEAgIIBAQQCAggEBBAICCA8Pvtkfby92Fopb094p/KMgV6do9ac7ZyG+9bkEfN3sdg1JJU2cVi
gO/oA0YtIiBt4VSIwqiZnAUkYr3wcYXcjlFLMd6CULQ7YtSC/L7cQsRQfMC+bDHRo/bYEcw7SG8X
nsUujNqL84A8dn3waIxaAssWxL7eYIjqYNRCXN3FivgElQFajVEzu36Q3te6RbSv3c5fOTM4Zy0d
F16X3+PrfZl7z+uj5psj7zzlLRMnbfQCckyWY3Y6eyH+PXOYpjxEW+2llSbam7u6KbrHui/7Rm28
TWrDqXMr/NrHdvqKt+ltu1jN+bhHr5zjtq3v3gyDM25v9G7remxtZ/2oXevx2gobxZ3mjdz0R86m
tajXir+2x3EnXNccSURUJ3zRt8m9WLE5Hp2bxZhyWNZNtXqc+ZnE3KjF9DRiqxdamX5Adp3d6M1e
zKHjYeyffz/a/l7eAbT2ud/vvOlmeebJ34qnwt/bcBykW2Tsy6rzNkfnNc1U7NcyjIKoX6X7PHov
b4///n+ulXFv/a6c1XtfHNvL649hG9EVPqvuf6y7WKOyZp0aPFtHzCwW1u3G4Z6uDduYW19GtLJr
1Prvd5w+6puLnAp3Wlj/hSnPgVj/dKa9zV471oL6Cn8Yn5lddHfJvQrLM7dRFTZSAdm9P3tMPjf7
2pnz8Dnfq7cuBFfmNmo6bWYxbeKvuF4aW5rfguy+XCFlfZEqfhH0z/XuUcttP6Fn9oDMLoKzl5Ws
P6+ytoU1kc4fNc26Gju+/bO2tmQedEDi1zF3WNPb1ZybyqPm/cRpe4Vnd7EqfI/wyicaleX1uMKo
/Q3J7gXfPBcRV/OOT9PdbyGdsXvQfVaNWu9CyPb/83YbKuzZgqzsnn9w7rV4rlO9LhW2J8IoILH7
s4UL8Si1Rs12+rzosjF3DHKHk4V4tW/UbFOVDMmaT9ILzjiGIkfNeilIuSUl7yu3kd8tvIcnbBMz
R812+We7dB1BuPEW5P0rqZ+24N9R3VEbfRhYp6dfX1/XtyCzJ+niTzI+Yf29Stao+XtQKgxnqvz8
AT7T+fakUGwyA2K5X8gVhcr4INmjNnrPYiwB+VkyTvH25qNWYGuMWvv2b6bt7RXOvHHcT+OZ+3kG
5YkXqNzvl/xqhd7X35AK3/cYpOJPgG6798Yt5N2ZMe/9jAHZsysVcZekbJ4v/67u8zN2gDdX+MoW
JH4ArMWoEg9P32Z+qDnDztiMbhxqe6+lFa6+i3V2cDf3+95ZbCcpK0c6k22V5z2AX1jh7IN076UL
RzcQ/ZZq7RL86/G9+vyzd/n3bezfi8pz84z0Clu3IOsG1Huvpv2Lmv+rqqv6vL82ajwjfuInvcLz
u1h5+7IZt/TJFXXvrGo9jelzRHW2VbjmMUjOTd0q9LhSn9eJqM6mCucHZPYrNqPpYm5/HDmf3vvt
VhbdT1ttjkvPp/T8KH56JfIHzXb2uHaf14moztIKVw8IsFXNYxCgCAICCAQEEAgIIBAQQCAggEBA
AIGAAAIBAQQCAggEBBAICCAQEEAgIIBAQACBgAACAQEEAgIIBAQQCAggEBBAICCAQEAAgYAAAgEB
BAICCAQEEAgIIBAQQCAggEBAAIGAAAIBAQQCAggEBBAICCAQEEAgIIBAQACBgAACAQEEAgIIBAQQ
CAggEBBAICCAQEAAgYAAAgEBBAICCH8Adp4hYmA41cEAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEt
MDEtMjRUMDE6NTY6MTcrMDM6MDB2PMpUAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTAxLTI0VDAx
OjU2OjE3KzAzOjAwB2Fy6AAAAABJRU5ErkJggg=="
    />
  </svg>
</template>
