<script>
export default {
  name: 'GitterLogoSvg',
};
</script>

<template>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="400"
    height="300"
    viewBox="0 0 400 300"
    enable-background="new 0 0 400 300"
    xml:space="preserve"
  >
    <image
      id="image0"
      width="400"
      height="300"
      x="0"
      y="0"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOQAAAB/CAQAAABV/6aGAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
RQflARgBKSPFc/L/AAAG4klEQVR42u2d/W9UVRrHP09faGuL0iIMYgfEVrG6AXnfFbpxEQwS36JZ
fyCaTXaz/rDZ/2hjoqLxZbO+Iga2xiAbssCibA1bpEWFFgoVQrehOKXQxx9EbO09vTPtzNzOM8/n
xz53Ts/3fu6de+85M3NkEMcCFUl3wMkPLtIILtIILtIILtIILtIILtIILtIILtIILtIILtIILtII
LtIILtIIVXEb6B00BkoZzkomyc7rEhoCpSHpi3zFQpoCB28JphlPjEht5i+sDRTP8r6+J5pY8PW8
wPJAsVNfkq5Jr1jIH9lIjY00E4k7IxfwsPwm8K8v0sM/uZxUdJbxqNwb6NsC9jA5ehMb5XEzaSYQ
d42spDZYq6EaSSz41H2rjUxWETgbSzPNL6I5JnCRRnCRRnCRRnCRRnCRRnCRRnCRRnCRRogdNM8v
2sytgVKGMzKS9O4o3TRFFalt/IkVgeJp/sHHxeyNrTTFPSObeUQeDOyWPo5qtYwWtT+G0hT3Glkx
5cCwkNgkUumn8ZsdI7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hI
I7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hII7hIIxRXpJbYV1lL
KE1xRY5wLenAVtMUV2SG60kHtpqmuCKvz6Y3I1tp/GbHCC7SCC7SCC7SCC7SCC7SCC7SCC7SCC7S
CHEidTaNJzph4kSOciXpLuaVWTSoll/iRF5NcP22mTBG1I/eXuNq0h3LY5oJxIn8nv8nnWJafM9w
xF9HGEq6Y3lMM4E4kcOc11L6eeqfGIq8JNhKM4E4kUP0Bo/iCiqpTDBe1RTrPfZH9tpWml90f0rk
Kj0MBIpzqC/2chM/o0Id1YHaFb7mkvU0E4l/jvyak9EFqWI+tyQVnToagz8Of5EeiT6GbaUZR7zI
Xr7Q0KX2TuYnFr2BVHCV8P6QLmNpxhErUoY4HGxoCS2JRb+dFgm9FR6ntxzSjCebIbovORKopFmn
SR3Fy2mNLug5DnO2TNLcJAuR8i2fandkpYaHWJlEbr2dX3N3oNjJofAaOLbS/Ex2g+b76Qg8fz3I
Vk0lkH0V7RK5FL0O8AnHyijNDbISKd/yLv+KrDSwnS1a5DkUbWZb8Nz5jL0y5TiIrTQ/kW2n9/P3
wBvSCp7nkaIGr2ILj0nko4Ie4wM5WmZpgKxXq5OMfkhaX5Som4EtXNRBOVy07Jt4Ttoig19mNx3l
luZHsh7LkD59k0W6Y/J7uVTpkwzrmBzJtq2ZoGv4A5sDxf28L/3llwZy+oSAdPIKH+lYRGUuz/FX
/V3hry66ij/zTODGoJO3OVSeaXJcCFT2aQ2V+oRMiijzdAeLaNY9MpBLiznFFn7LCzwjkcvhag+v
sSuXpTdtpclxmFj2KlzXx2XOpMoctuliWnUXX0gBPh6i89nKDrZK5IiknuJl3pAL5Zsm5/F+2auj
DOsTMi+itkKbWcke/YwuGcu15SliV7Oa7TwZXAj3NK/ymvTl3rKdNNOYuJFPdYgL+qwsiag18ZSu
ZjMdeoCufBzLWsFyHmY7G6UxsEU3O3ldTk2vfStppjUDJ0d0kHP6e1kbWU2T1g0cZJ9+zkk5P4PY
87iHtbTzkCwNbnOInbwjWYxG2k4zzalUOal/o0ef5lGJHNKSNGlt5wRH9XNO0MuAjOQUuokUraxj
A7+SxcGtRuhgJx/Hz9bZTzPtOXG5xDvaTZc+zeroCRhJkdKNnKGXr+jSHnpZya3BBiuZzzIdopE7
aOEeltPKXVI/xe7pZTdvsS8f16/STyODM9oB2sgmttFOm0x5SOglLnCeWtZI8JMp+glHqWEpaVI0
RT9d3dw2w7/5gF3STR4p5TQzFAmgadaxmXbapHqGLV2hVmIfw1XppIPdHMxuOLk80uRB5M34m1jP
fVLQqVkd5TgH2MsBOVfA/1KCafIkEkAX0sZ6NvAAd0ntzNub1P4QxznAfv4jp/PfeqmnyaNIAK1l
GfezhlW0sEjm5qnVDH10cYiDfFnIM7GU0+RZ5I2uNpKmlftpo4XFLJj+Ea0X6OcbjvFf/sc3ksj3
UEojTUFE3uh2PQtoppV7WcqdLGQu9TRkcwuhGQa5RD/dHOMEpzknsR/QLTSzPU0BRd4MMo/baCJF
ihSLSHEbddRSQzVV46bRxrjGdTIMMsBZTtHHGc7zXSGGrC2mKYLIcTuhlgbqqaOSaqqpoW5c9Gtk
uMooGYa5zKDM+m8yzq40RRXpFA7/DQEjuEgjuEgjuEgjuEgjuEgjuEgjuEgjuEgjuEgjuEgjuEgj
uEgjuEgjuEgj/ABoHhU+Dv2GpAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0yNFQwMTo0MToz
NSswMzowMIDUGLkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDEtMjRUMDE6NDE6MzUrMDM6MDDx
iaAFAAAAAElFTkSuQmCC"
    />
  </svg>
</template>
