<small>
  <span>Copyright &copy; 2020 WomenWiser</span>

  {{!-- <a class="bottom-panel-navigation-link" href="http://support.gitter.im" target="_blank">{{ __ "Support" }}</a>
  <a class="bottom-panel-navigation-link" href="https://developer.gitter.im" target="_blank">{{ __ "API" }}</a>
  <a class="bottom-panel-navigation-link" href="http://blog.gitter.im" target="_blank">{{ __ "Blog" }}</a> --}}
  <a class="bottom-panel-navigation-link" href="https://twitter.com/gitchat" target="_blank">{{ __ "Twitter" }}</a>
</small>
